@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");
@keyframes l-button-hover {
  from {
    background-color: white;
    color: #63779c;
    box-shadow: 0 0 0 0 #0000;
  }
  to {
    background-color: #3f5681;
    color: white;
    box-shadow: 0 4px 10px 0 #0009;
  }
}
@keyframes l-down-icon-hover {
  from {
    color: white;
  }
  to {
    color: #63779c;
  }
}
@media (prefers-color-scheme: light) {
  html {
    scrollbar-color: #3f5681 white;
  }
  html::-webkit-scrollbar {
    background-color: white;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #3f5681;
  }

  body {
    background-color: white;
  }

  .clickable {
    color: white;
  }

  .opening-image h1 {
    color: white;
  }

  .icon-tabler-arrow-bar-down {
    color: white;
  }
  .icon-tabler-arrow-bar-down:hover {
    color: #63779c;
  }

  .nav-item {
    color: #63779c;
  }
  .nav-item:hover {
    box-shadow: 0 4px 10px 0 #0009;
    background-color: #3f5681;
    color: white;
  }

  .article {
    background-color: #3f5681;
    color: white;
  }
  .article h2 {
    color: white;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #3f5681 #0f1520;
  }
  html::-webkit-scrollbar {
    background-color: #0f1520;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #3f5681;
  }

  body {
    background-color: #0f1520;
  }

  .clickable {
    color: #0f1520;
  }

  .opening-image h1 {
    color: #93a2be;
  }

  .icon-tabler-arrow-bar-down {
    color: #93a2be;
  }
  .icon-tabler-arrow-bar-down:hover {
    color: #63779c;
  }

  .nav-item {
    color: #63779c;
  }
  .nav-item:hover {
    box-shadow: 0 4px 10px 0 #0009;
    background-color: #3f5681;
    color: #0f1520;
  }

  .article {
    background-color: #3f5681;
    color: #0f1520;
  }
  .article h2 {
    color: #93a2be;
  }
}
@keyframes link-hover {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-family: "Montserrat";
  scrollbar-width: auto;
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
}
html a:visited {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.clickable {
  font-weight: 600;
}
.clickable:hover {
  animation-name: link-hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.opening-image {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.987) 8.1%, rgba(0, 0, 0, 0.951) 15.5%, rgba(0, 0, 0, 0.896) 22.5%, rgba(0, 0, 0, 0.825) 29%, rgba(0, 0, 0, 0.741) 35.3%, rgba(0, 0, 0, 0.648) 41.2%, rgba(0, 0, 0, 0.55) 47.1%, rgba(0, 0, 0, 0.45) 52.9%, rgba(0, 0, 0, 0.352) 58.8%, rgba(0, 0, 0, 0.259) 64.7%, rgba(0, 0, 0, 0.175) 71%, rgba(0, 0, 0, 0.104) 77.5%, rgba(0, 0, 0, 0.049) 84.5%, rgba(0, 0, 0, 0.013) 91.9%, rgba(0, 0, 0, 0) 100%), url("../public/img/bg_crop.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opening-image h1 {
  text-align: center;
  font-size: 10vh;
  align-self: flex-end;
  padding: 1rem;
}
.opening-image #down-icon {
  display: inline-flex;
}
.opening-image .icon-tabler-arrow-bar-down:hover {
  animation-name: l-down-icon-hover;
  animation-duration: 0.5s;
}

#content {
  display: flex;
  flex-direction: row;
}

nav {
  flex: 0.5;
  margin: 0rem 1rem 1rem 1rem;
}
nav .nav-container {
  display: flex;
  border-radius: 1rem;
  flex: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav * {
  margin: 1rem;
}

.nav-item {
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 5vh;
}
.nav-item:hover {
  animation-name: l-button-hover;
  animation-duration: 0.5s;
}

main {
  margin: 1rem;
  flex: 4;
}

.article {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 6vh;
}
.article h2 {
  font-size: 8vh;
  line-height: 8vh;
  margin: 1rem 0;
}
.article p {
  line-height: 6vh;
  text-align: justify;
}

/*# sourceMappingURL=main.css.map */
