$et-primary: #63779c;
$et-secondary: #64ac8e;
$et-bg: #be8863;
$et-dark: #302920;
$ease-out: linear-gradient(
    to top,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 8.1%,
    hsla(0, 0%, 0%, 0.951) 15.5%,
    hsla(0, 0%, 0%, 0.896) 22.5%,
    hsla(0, 0%, 0%, 0.825) 29%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 41.2%,
    hsla(0, 0%, 0%, 0.55) 47.1%,
    hsla(0, 0%, 0%, 0.45) 52.9%,
    hsla(0, 0%, 0%, 0.352) 58.8%,
    hsla(0, 0%, 0%, 0.259) 64.7%,
    hsla(0, 0%, 0%, 0.175) 71%,
    hsla(0, 0%, 0%, 0.104) 77.5%,
    hsla(0, 0%, 0%, 0.049) 84.5%,
    hsla(0, 0%, 0%, 0.013) 91.9%,
    hsla(0, 0%, 0%, 0) 100%
);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

@keyframes button-hover {
    0% {
        background-color: scale-color(
            $color: $et-dark,
            $saturation: 0%,
            $lightness: 0%
        );
        color: scale-color($color: $et-bg, $saturation: 0%, $lightness: 0%);
    }
    100% {
        background-color: scale-color(
            $color: $et-dark,
            $saturation: 0%,
            $lightness: 10%
        );
        box-shadow: 0 4px 10px 0 #0009;
        color: scale-color($color: $et-bg, $saturation: 30%, $lightness: 0%);
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

html {
    scrollbar-color: $et-bg $et-dark;
    scrollbar-width: auto;
    &::-webkit-scrollbar {
        background-color: $et-dark;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $et-bg;
    }
}

.opening-image {
    width: 100%;
    height: 100vh;
    background: $ease-out, url("../public/img/bg_crop.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    h1 {
        color: white;
        font-size: 10vh;
        font-family: "Montserrat";
        align-self: flex-end;
    }
}

nav {
    flex: 0.5;
    margin: 0rem 1rem 1rem 1rem;
    .container {
        display: flex;
        border-radius: 1rem;
        flex: 0;
        background-color: rgba($et-bg, $alpha: 0.6);
        justify-content: center;
        align-items: flex-start;
        li {
            cursor: pointer;
            font-family: "Montserrat";
            list-style-type: none;
            text-align: center;
            background-color: $et-dark;
            color: $et-bg;
            border-radius: 1rem;
            padding: 1rem;
            &:hover {
                animation-name: button-hover;
                animation-duration: 0.5s;
                box-shadow: 0 4px 10px 0 #0009;
                background-color: scale-color(
                    $color: $et-dark,
                    $saturation: 0%,
                    $lightness: 10%
                );
                color: scale-color(
                    $color: $et-bg,
                    $saturation: 30%,
                    $lightness: 0%
                );
            }
        }
    }
    * {
        margin: 2rem;
        font-size: 2vw;
    }
}

main {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    flex: 4;
}

.article {
    padding: 3rem;
    border-radius: 1rem;
    background-color: rgba($et-dark, 0.89);
    font-family: "Montserrat";
    margin-bottom: 2rem;
    &::first-letter {
        font-size: 2vw;
    }
    h2 {
        color: $et-bg;
        font-size: 2vw;
    }
    p {
        font-size: 1vw;
        color: white;
        line-height: 2rem;
        text-align: justify;
    }
}
