@import "./light.scss", "./dark.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

@keyframes link-hover {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

html {
    font-family: "Montserrat";
    scrollbar-width: auto;
    scroll-behavior: smooth;
    a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.clickable {
    font-weight: 600;

    &:hover {
        animation-name: link-hover;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

.opening-image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        text-align: center;
        font-size: 10vh;
        align-self: flex-end;
        padding: 1rem;
    }
    #down-icon {
        display: inline-flex;
    }
    .icon-tabler-arrow-bar-down {
        &:hover {
            animation-name: l-down-icon-hover;
            animation-duration: 0.5s;
        }
    }
}

#content {
    display: flex;
    flex-direction: row;
}

nav {
    flex: 0.5;
    margin: 0rem 1rem 1rem 1rem;
    .nav-container {
        display: flex;
        border-radius: 1rem;
        flex: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    * {
        margin: 1rem;
    }
}

.nav-item {
    cursor: pointer;
    list-style-type: none;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 5vh;
    &:hover {
        animation-name: l-button-hover;
        animation-duration: 0.5s;
    }
}

main {
    margin: 1rem;
    flex: 4;
}

.article {
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-size: 6vh;
    h2 {
        font-size: 8vh;
        line-height: 8vh;
        margin: 1rem 0;
    }
    p {
        line-height: 6vh;
        text-align: justify;
    }
}
